$colorPrimario:#FF9F21;
$colorSecundario:#444444;
$negro:#171717;
$blanco:#EDEDED;
$fuente_principal: 'Rubik', sans-serif;
$fuente_secundaria: 'Anton', sans-serif;
$separacion: 5rem;

$telefono:350px;
$tablet:678px;
$desktop:1200px;